.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="/") Buy Me Music
      .nav-collapse.collapse
        ul.nav
          li
            a(href="/") Home
          li
            a(href="/about") About
          li
            a(href="/contact") Contact

      .lastfm-username
        form.navbar-form.pull-right(action="/view")
          input#username.span2(name="username", type="text", placeholder="last.fm username")
          button.btn(type="submit") Submit

  .username
    form(action="/view")
