doctype 5
html
  head
    meta(charset="utf-8")
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="")
    meta(name="author",content="")

    link(href="/bootstrap/css/bootstrap.css", rel="stylesheet")
    style
      body {padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */}
    link(href="/bootstrap/css/bootstrap-responsive.css", rel="stylesheet")
    link(rel='stylesheet', href='/stylesheets/style.css')
    block head
  body
    block content