extends templates/standard

block append css

block content
  h1 Help me buy the music I listen to most!
  ol.details
    li Browse the albums I listen to most
    li Select an album you would like to help buy
    li Donate cash $$
    li You can also enter your last.fm username to see what you listen to most!